// Background
$blue: #00A5E5; //(background)
$lighter-blue: #E5F6FD; //(background)
$dark: #262626; // Fonts color
$gray: #70757A; // Fonts color
$lightGray: #E6E6E6; // Border //(Edge)
$lighter-gray: #F8F9FA; //(background)
$white: #FFFFFF; //(background)

// Fonts
$font-stack: Arial, sans-serif;

// Fonts size
$font-26: 26pt;
$font-23: 23pt;
$font-19: 19pt;
$font-15: 15pt;
$font-13: 13pt;
$font-10: 10pt;
